@model IEnumerable<Item>
@{
    ViewData["Title"] = "Item Manager";
    ViewBag.Title = "Item Manager";
}

<a asp-controller="Item" asp-action="Add">Add Item</a>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Minimum Bid Amount</th>
            <th>Auction Start Date</th>
            <th>Auction End Date</th>
            <th>Item Condition</th>
            <th>Category</th>
            <th>Image</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Item i in Model)
        {
            <tr>

                <td>
                    <a asp-controller="Item" asp-action="Details"
                   asp-route-id="@i.ItemId">@i.ProductName</a>
                </td>
                <td>@i.ProductDescription</td>
                <td>$@i.MinimumBidAmount</td>
                <td>@i.AuctionStartDate</td>
                <td>@i.AuctionEndDate</td>
                <td>@i.ItemCondition</td>
                <td>@i.Category</td>
                <td><img src=@i.ImageUrl></td>
            </tr>
        }

    </tbody>

</table>
